 
<header>
	<nav>
		<ul class="main">
			<li><a href="https://blog.ceto.xyz">{{ .Site.Title }}</a></li>
		</ul>
		<ul class="social">
			<small class="pull-left" > created by <b>Erik Goodman</b></small>
			<li>
				<a class="fab fa-linkedin" href="https://www.linkedin.com/in/d-erik-goodman/" target="_blank"></a>
			</li>
			<li>
				<a class="fab fa-github-square" href="https://github.com/degoodman" target="_blank"></a>
			</li>
			<li>
				<a class="fab fa-twitter-square" href="https://twitter.com/ergonogo" target="_blank"></a>
			</li>
		</ul>
	</nav>
</header>
